body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}


/* Header */

header {
  width: 100%;
  height: 69px;
  display: inline-flex;
  border-bottom: 1px solid seashell;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: black;
  justify-content: space-between;
}

.logo {
  height: 50px;
  display: flex;
  position: relative;
  left: 10px;
  top: 8px;
}

.menu {
  display: inline-flex;
  text-decoration: underline;
  align-items: center;
}

.menu a {
  margin: 0 10px;
  color: seashell;
}

.menu a:hover {
  color: pink;
}

/* Header */

/* Content */

content {
  position: relative;
  top: 69px;
}

/* Content */

/* Mission */

.mission {
  background-image: url("../resources/images/mission-background.jpg");
  height: 700px;
}

/* Mission */

/* Featured Tea */

.featured-tea {
  background: black;
  width: 1000px;
}

.photo-box
{
  height: 200px;
  width: 300px;
  padding: 10px;
}

/* Featured Tea */

/* Locations */

.locations {
  background-image: url("../resources/images/locations.jpg");
  height: 500px;
}

.box {
  width: 300px;
  opacity: 1;
  margin: 15px 20px;
}

/* Locations */

/* Footer */

footer {
  height: 200px;
}

.copyright {
  display: flex;
  justify-content: flex-start;
  position: relative;
  left: 20px;
}

/* Footer */
