body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}


/* Header */

header {
  width: 100%;
  height: 69px;
  display: inline-flex;
  border-bottom: 1px solid seashell;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: black;
  justify-content: space-between;
}

header img {
  height: 50px;
  display: flex;
  position: relative;
  left: 10px;
  top: 8px;
}

nav {
  display: inline-flex;
  text-decoration: underline;
  align-items: center;
}

nav a {
  margin: 0 10px;
  color: seashell;
}

nav a:hover {
  color: pink;
}

/* Header */

/* Content */

content {
  position: relative;
  top: 69px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* Content */

/* Mission */

#mission {
  background-image: url("../images/mission-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mission {
  background-color: black;
  flex-direction: column;
  line-height: 0;
  height: 100px;
  width: 1200px;
}

/* Mission */

/* Featured Tea */

#featured-tea {
  background: orange;
  width: 1000px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tea-types {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.tea-photo {
  position: relative;
  height: 200px;
  width: 300px;
  padding: 10px 15px 5px 15px;
}

/* Featured Tea */

/* Locations */

#locations {
  background-image: url("../images/locations.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  line-height: 0;
}

.location {
  display: inline-block;
  background-color: black;
  width: 300px;
  opacity: 1;
  margin: 15px 20px;
  line-height: 2em;
}

/* Locations */

/* Footer */

footer {
  margin: auto;
  height: 200px;
}

.copyright {
  justify-content: flex-start;
  position: relative;
  left: 20px;
}

/* Footer */
